* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
}

html {
	scrollbar-width: none;
}

body {
	font: {
		family: arial, sans-serif;
		size: 16px;
		weight: 500;
	}
	background-image: url("../img/fondo.jpg");
}
